<h2>debug - layout post</h2>
<p>
  page attr: {% for s in page %}{{s}}, {% endfor %}
  <br>
  <ol>
    <li>page.id = {{ page.id }}</li>
    <li>page.path = {{ page.path }}</li>
    <li>page.relative_path = {{ page.relative_path }}</li>
    <li>page.url = {{ page.url }}</li>
    <li>page.slug = {{ page.slug }}</li>
    <li>page.ext = {{ page.ext }}</li>
    <br>
    <li>page.title = {{ page.title }}</li>
    <li>page.date = {{ page.date }}</li>
    <li>page.category = {{ page.category }}</li>
    <li>page.categories = {{ page.categories }}</li>
    <li>page.tags = {{ page.tags }}</li>
    <li>page.collection = {{ page.collection }}</li>
    <li>page.layout = {{ page.layout }}</li>
    <li>page.excerpt = {{ page.excerpt | xml_escape }}</li>
    <br>
    <li>page.cover = {{ page.cover }}</li>
    <li>page.list = {{ page.list }}</li>
    <li>page.fulltitle = {{ page.fulltitle }}</li>
    <li>page.subtitle = {{ page.subtitle }}</li>
    <li>page.ref = {{ page.ref }}</li>
    <li>page.lang = {{ page.lang }}</li>
    <li>page.theme = {{ page.theme }}</li>
    <li>page.gallery = {{ page.gallery }}</li>
  </ol>
</p>