  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">{% assign desc = page.excerpt | strip_html | strip_newlines | replace: "[[", " ("  | replace: "]]", ")" %}{% capture hide %}
    {% if page.desc %}
      {% assign desc = page.desc %}
    {% elsif page.fulltitle %}
      {% assign desc = page.fulltitle %}
    {% elsif page.category == 'photo' %}
      {% assign desc = page.title | perpend: "Gallery of " %}
    {% endif %}{% endcapture %}
  <meta name="description" content="{{ desc }}">
  <meta name="author" content="Sean Tai">
  <title>Sean Tai - {{ page.title }}</title>
  <link rel="shortcut icon" href="{{ site.baseurl }}/potato/favicon.ico">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/potato/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/potato/css/normalize.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/potato/css/style.css">{% capture multilingual %}<!-- multilingual -->{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}{% for post in posts %}{% if post.lang != page.lang %}{% assign ml=true %}
  <link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{% endif %}{% endfor %}{% endcapture %}{% if ml %}
  {{multilingual}}{% endif %}
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
  <![endif]-->
  <script type="text/javascript" src="{{ site.baseurl }}/potato/js/animation/pace.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/potato/js/animation/jquery-3.2.0.min.js"></script>
  <!-- Facebook Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '3248222468737595');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=3248222468737595&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <!-- Facebook Pixel Code 2 -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '290755719216622');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=290755719216622&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
  <meta name="facebook-domain-verification" content="hs5h72o2oc9e6xzpjfl1cnhfzwyt1y" />
