  <script type="text/javascript" src="{{ site.baseurl }}/potato/js/animation/jquery.smoothState.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/potato/js/animation/velocity.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/potato/js/global.js"></script>
  <!-- Google Analytics -->
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47362352-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- Piwik/Matomo -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
    _paq.push(["setDomains", ["*.taixiaoyu.com"]]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//piwik.taixiaoyu.com/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//piwik.taixiaoyu.com/piwik.php?idsite=1&rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo/Piwik Code -->