<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
{% include head.html %}
</head>
<body>
  <script type="text/javascript">
    document.querySelector('body').style.opacity = '0';
  </script>
  <div class="lang-{{ page.lang }}{{ page.theme | prepend: ' ' }}" id="header-placeholder">
    <a href="#content" class="accessible-skip">Skip to content</a>
  </div>
  <div id="potato">
    <div class="lang-{{ page.lang }}{{ page.theme | prepend: ' ' }}">
{{ content }}
{% include footer.html %}
    </div>
  </div>
{% include scripts.html %}
</body>
